.header {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
  font-family: sans-serif;
}
.iteminfo {
  display: flex;
  gap: 5rem;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
  color: #fff;
}
.layout {
  background-color: #c084fc;
}
.logo {
  width: 70px;
  height: 70px;
}
